<%= form_with model: @product do |form| %>
    <% @product.errors.full_messages.each do |err| %>
        <div>
            <%= err %>
        </div>
    <% end %>
    <div class="mt-4">
        <%= form.label :titulo %>
        <%= form.text_field :title%>
    </div>
    <br>
    <div class="mt-4">
        <%= form.label :descripcion %>
        <%= form.text_area :description%>
    </div>
    <br>
    <div class="mt-4">
        <%= form.label :precio %>
        <%= form.number_field :price%>
    </div>
    <br>
    <div>
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
    </div>
    <br>
    <div class="mt-4">
        <%= form.label :precio %>
        <%= form.file_field :photo%>
    </div>
    <%= form.submit %>
    <br>
<% end %>