<%= form_with(model: category) do |form| %>
  <% @category.errors.full_messages.each do |err| %>
       <div>
          <%= err %>
       </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
