<%= form_with(model: @user) do |form| %>
  <% @user.errors.full_messages.each do |err| %>
    <div>
      <%= err %>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username, required: true %>
  </div>
  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
