<div>
<%= turbo_frame_tag 'categories' do %>
    <h2><%= t('.title') %></h2>
    <div>
        <%= form_with url: products_path, method: :get do |form| %>
            <%= form.text_field :query_txt, placeholder: t('.query_txt'),
            onChange: 'this.form.requestSubmit()', value: params[:query_txt] %>
            <%= form.number_field :min_price, placeholder: t('.min_price'),
            onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
            <%= form.number_field :max_price, placeholder: t('.max_price'),
            onChange: 'this.form.requestSubmit()', value: params[:max_price] %>

            <%= form.select :order_by, options_for_select(Product::ORDER_BY.
            keys.map{ |order| [t(".#{order}"),order] }, params[:order_by]),
            {}, { onChange: 'this.form.requestSubmit()' } %>
        <% end %>
        <%= link_to t('.all'), products_path %>
        <%= render partial: 'partials/category_index', collection: @categories %>
    </div>
    <div class="products">
        <%= render partial: 'partials/product', collection: @products %>
    </div>
<% end %>
</div>