<div class="d-flex justify-content-center align-items-center">
  <div class="card mb-3">
    <% if @product.photo.attached? %>
      <%= image_tag @product.photo, class: "card-img-top" %>
    <% end %>
    <div class="card-body text-center">
      <h5 class="card-title"><%= @product.title %></h5>
      <p class="card-text"><%= @product.description %></p>
      <p class="card-text"><small class="text-muted"><%= @product.price %> $</small></p>
      <% if @product.owner? %>
        <%= link_to 'Editar producto', edit_product_path(@product), class: "btn btn-primary mr-2" %>
        <%= link_to 'Eliminar producto', product_path(@product), method: :delete, data: {
            turbo_method: :delete,
            confirm: t('common.confirm')
        }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
