<!DOCTYPE html>
<html>
  <head>
    <title>DatAnnouncement | <%= t('meta_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5325d6dcc2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'partials/flash' %>
    <%= render 'partials/header' %>
    <%= yield %>
  </body>
</html>
